// Estilos de la navegación principal
.flex-navbar {
    // Propiedades de Posicionamiento y Contenedor Principal
    position: absolute; 
    top: 0;
    left: 0;
    right: 0; 
    z-index: 10; 

    // Propiedades de Estilo y Flexbox
    background-color: rgba(0, 0, 0, 0.4); // Fondo negro con 40% de transparencia
    padding: 15px 30px;

    
    // Configuración Flexbox del Contenedor Principal (logo, lista, botón)
    display: flex;
    justify-content: space-between; // Espacio entre logo, nav-links y botón
    align-items: center; // Centrado vertical

    // Estilos del logo
    .logo img {
        width: 100px; 
        height: auto; 
    }
    
   
    .nav-links {
        list-style: none;    /* ¡QUITA LOS PUNTOS A LA LISTA! */
        padding: 0;          // Quitar padding por defecto
        margin: 0;           // Quitar margen por defecto
        display: flex;       /* <--- ¡ALINEA LOS <li> EN LÍNEA! */
        gap: 25px;           /* Espacio entre los ítems (li) */
        
        // Estilos del texto del enlace (que están dentro de .nav-links)
        a {
            color: wheat;
            text-decoration: none; //  Quita el subrayado
            font-weight: 500;
        }
    }
    
    // Estilos del botón "Comprar" 
    .login-button {
        background-color: wheat;
        color: #212529;
        border: none;
        padding: 8px 15px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.hero-slider {
    position: relative;
    width: 100%;
    height: 700px; 
    padding-top: 130px;
}

// Asegurar que el carrusel esté por encima de cualquier cosa que pueda estar debajo
#productCarousel {
    height: 100%;     
}  

.carousel-inner {
    height: 100%; // Asegura que las imágenes llenen el espacio.

}

.carousel-item {
    height: 100%;
   
}

.carousel-item img {
    height: 100%; 
    width: 100%;
    /* CLAVE: object-fit asegura que la imagen cubra el área sin excederse */
    object-fit: cover; 
}

.carousel-caption {
    background-color: rgba(102, 58, 31, 0.4);
    border-radius: 15px;
    
}

