.login-button {
        /* Estilos específicos del botón de compra aquí */
        background-color: white;
        color: #663a1f;
    }
    
.btn {
    background-color: #663a1f;
    border-bottom: #aa5018;
    border: 1px solid #aa5018;
}
 